*.class

# Package Files #
*.jar
*.war
*.ear
/proyectos/pixup-dao/nbproject/private/
/proyectos/pixup-dao/build/
/proyectos/pixup-dao/dist/
/proyectos/pixup-ejb/nbproject/private/
/proyectos/pixup-api/nbproject/private/
/ejercicios/diplomado4/apt-ejbsession/nbproject/private/
/ejercicios/diplomado4/ejercicio1/nbproject/private/
/ejercicios/diplomado4/ejercicio1/build/
/ejercicios/diplomado4/ejercicio1/dist/
/ejercicios/diplomado4/apt-ejbsession/dist/
/ejercicios/diplomado4/apt-ejbsession/build/
/ejercicios/diplomado4/ejercicio1-cliente/nbproject/private/
/ejercicios/diplomado4/ejercicio1-cliente/dist/
/ejercicios/diplomado4/ejercicio1-cliente/build/
/ejercicios/diplomado4/ejercicio1-test/nbproject/private/
/ejercicios/diplomado4/ejercicio1-test/build/